{% extends 'base/base.html' %}
{% block title %}Success{% endblock %}
{% block start %}

<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-5">
        <div class="card mb-4">
          <div class="card-header" style="text-align: center; font-size: 25px">
            Payment Successful!
          </div>
          <div class="card-body text-center">
            <a href="{% url 'index' %}" class="btn btn-primary mt-3 mb-3 mr-3">
              Continue Shopping
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
